main {
    min-height: 100vh;
    background-image: url('../img/bc/pexels-francesco-ungaro-1525041.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    // background-attachment: fixed;
}